<!--The content below is only a placeholder and can be replaced.-->
<header class="jumbotron bg-success text-center">
  <h1>{{title}}</h1>
  
</header>

<section>
      <nav class="col-md-12 row bg-dark mx-auto mt-4 ">
        <article class="col-md-3 row mx-auto">
        <div class="m-1"><a class="btn btn-primary" routerLink='books'>BookList</a></div>
        <div class="m-1"><a class="btn btn-primary" routerLink='products'>Products</a></div>
        
      </article>
      </nav>
      <div class="col-md-12 mx-auto">
        <router-outlet></router-outlet>
      </div>
</section>
